@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

* {
  font-family: 'Dosis', sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.circle {
  font-size: 20px;
  border: 5px solid #60dada;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
  transform: scale(1);
}

.circle-inner {
  width: 93%;
  height: 93%;
  position: absolute;
  background: transparent;
  border: 7px solid #cbefef;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.circle.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}